$based-color: #cb11ab;
$hover-btn-color: #DA58C4;
$background-color-basket-components: #e9e9e9;
$second-based-color: #481173;
$header-background-color: linear-gradient(to right, $based-color, $second-based-color);
